@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
/*****Default*****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}
html, body {width: auto!important; overflow-x: hidden!important}

::-webkit-scrollbar {
    width: 10px;
    transition: all 1s ease-in;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background:#0d6efd;
    border-radius: 5px;
}
/*****components*****/
.button-15 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-15:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-15:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-15:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.section-divider{
        height: 5px;
         width: 100%;
         background: linear-gradient(to right,#000000,rgb(0, 255, 247),rgb(255, 255, 255),rgb(255, 255, 255));
        }
.section-divider:nth-child(even){
         background: linear-gradient(to left,#000000,rgb(0, 255, 247),rgb(255, 255, 255),rgb(255, 255, 255));
        }
        #top-divider{
            background: linear-gradient(to right,#000000,rgb(0, 255, 247),rgb(255, 255, 255),rgb(255, 255, 255));
            position: fixed;
            height: 5px;
            width: 100%;
            top: 0;
            z-index: 5;
        }
/*****navbar/header*****/
#navdiv{
    width: 100%;
    position: fixed;
    top: 5px;
    z-index: 5;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}
.navbar-brand, span{
    font-family: "Shrikhand", serif;
}
.header-section{
    margin-top: 80px;
}

#headerbgdiv{
    background-image: url(images/compare-fibre-INNsF0Zz_kQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh; width: 110%;
    transform: translateX(-5%);
    border-radius:20% 0 80% 0;
    text-align: end;
}
#introDiv1{
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-top: 35px;
    border-radius:20% 0 0 20%;
}
#introDiv1 p{
    background: rgba(0, 0, 0, 0.6);
    padding-left: 5rem;
}

.slideshow {
    position: relative;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:20% 0 60% 0;
}
.slideshow img{
    margin-top: 2.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:20% 0 60% 0;
}
.paragraph-slide{
    margin-top: 3.5rem;
    width: 100%;
    position: relative;
}
.paragraph-slide h2{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:1.5rem;
    background: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px 40px;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    transition: all 2s ease-in-out;
    animation-delay: calc(1s*var(--i));
    animation-name: slideshow__fade;
}

.slideshow img:not(:first-child) {
    position: absolute;
    left: 0;
    top: 2.5rem;
    margin: 0 auto;
    animation-duration: 30s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: slideshow__fade;
    animation-timing-function: ease-in;
    transition: opacity 2s ease-in;
}
.slideshow img:nth-child(1) {
    animation-delay: 0s;
}
.slideshow img:nth-child(2) {
    animation-delay: 6s;
}
.slideshow img:nth-child(3) {
    animation-delay: 12s;
}
.slideshow img:nth-child(4) {
    animation-delay: 18s;
}
.slideshow img:nth-child(5) {
    animation-delay: 24s;
}
.slider-deco{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(-28deg,#ffffff,#031a3d,#ffffff);
}
/*****services*****/
#section-services{
    width: 100%;
    height: 80vh;
    position: relative;
    background: linear-gradient(to bottom,black,black,black);
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: hidden;
}
#section-services svg{
    position: absolute;
    bottom: -82px;
    right: 0;
    color: red;
    height: 400px;
    width: 70%;
}
.servicesDiv{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.servicesDiv h2{
 color: rgb(255, 255, 255);
}
.servicesDiv p{
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 background: white;
 border-radius: 15px;
}
.icons{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.icons span{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    border-radius: 50%;
    animation: animate 15s linear infinite;
    animation-duration: calc(150s/var(--i));
}
.icons span:nth-child(2n+1){
    animation: animate1 15s linear infinite;
    animation-duration: calc(150s/var(--i)); 
}
  /*****contact*****/
.contact-section {
    padding-top: 30px;
    height: 80vh;
    width: 100%;
    background-image: url(/imageS/matt-wang-lnjQDLEKppI-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.contact-title {
    margin-bottom: 30px;
    font-weight: 700;
    color: #343a40;
}
.formDiv{
    background: rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 20px;
    min-height: 500px;
}
 .form-group
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 700px;
}
.addressDiv{
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(255, 255, 255, 0.684) 0px 5px 15px;
    border-radius: 10px;
    min-height: 500px;
}
.addressDiv-content{
    background: #ffffff;
    color: #000000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.addressDiv-content p{
    color: black;
    font-weight: 600;
}
form .button-15{
    margin-left: auto;
}
.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.address {
    font-size: 1.1em;
    color: #ffffff;
}
/*****footer*****/
.copyrights-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 12px 0;
}
/*****animations*****/
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0) rotate(360deg);
    }
    100%{
        transform: translateY(-10vh) scale(1) rotate(0deg);
    }
}
@keyframes animate1{
    0%{
        transform: translateY(-10vh) scale(0) rotate(0deg);
    }
    100%{
        transform: translateY(100vh) scale(1) rotate(360deg);
    }
}

@keyframes slideshow__fade {
    0% {
      opacity: 0;
      z-index: 2;
    }
    6.6666666667% {
      opacity: 1;

    }
    26.6666666667% {
      opacity: 1;

    }
    27.6666666667% {
      opacity: 0;
      z-index: 1;

    }
    100% {
      opacity: 0;
    }
  }

/*****media queries*****/

 @media (min-width:1200px) {
 
   #introDiv1 p{
    font-size: 20px !important;
}
.navbar-brand{
    font-size: 2rem !important;
}

 }
 @media (max-width:1200px) {
    .navbar-brand{
        font-size: 1.8rem !important;
    }
   .form-group{
    max-width: 450px;
   }
   #introDiv1 p{
    font-size: 18px !important;
}

#section-services{
    height: 100vh;
}
.contact-section {
    height: 100vh;
}
 }
 @media (max-width:992px) {
   .form-group{
    width: 350px;
   }

#section-services{
    height:50rem;
}
.contact-section {
    height: 100vh;
}
 }
 @media (max-width:769px) {
  
/**contact***/
.contact-section {
    height: 175vh;
    width: 100%;
    padding: 10px 10px 10px 40px;
}
.formDiv{
    border-right: 1px solid black;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    height: auto;
}
 .form-group
{
    width: 600px;
}
/*****footer*****/
.copyrights-content p{
    font-size: 0.85rem;
    font-weight: bold;
}
.section-divider{
    margin-top: 24px !important
}
#section-services{
    height: 65rem;
}
}
 @media (max-width:577px) {
    .button-15 {
        font-size: 15px;
      }
    #introDiv1{
        z-index: 5;
    }
    #lrg-intro{
        display: none;
    }
    #md-intro{
        display: none;
    }
    #sm-intro p{
        font-size: 1rem !important;
    }
    #sm-intro h5{
        font-size: 1rem;
    }
    .slideshow img{
        margin-top: 0rem;
    }
    .paragraph-slide{
        margin-top: 0rem;
    }
    .paragraph-slide h2{
        top: 0;
        left: 0;
        transform: translate(15%,-15%);
    }
    
    .slideshow img:not(:first-child) {
        left: 0;
        top: 0rem;
    }
    /*****services*****/
    .lg-serv{
        display: none;
    }
#section-services{
    min-height: 70rem;
    width: 100%;
}
#section-services svg{
    display: none;
}

/**contact***/
.contact-section {
    height: 175vh;
    width: 100%;
    padding: 10px 10px 10px 40px;
}
.formDiv{
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    height: auto;
}
 .form-group
{
    width: 400px;
}

/*****footer*****/
.copyrights-content p{
    font-size: 0.85rem;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
}
.section-divider{
    margin-top: 24px !important
}
.addressDiv-content{
    width: 90%;
}
 }
 @media (max-width:425px) {
    .button-15 {
        font-size: 15px;
      }
 
    /*****services*****/
  
#section-services svg{
    display: none;
}
#section-services{
    height:80rem;
    width: 100%;
    padding: 0 15px !important;
}
.addressDiv-content{
    width: 90%;
}
/**contact***/
.contact-section {
    height: 175vh;
    width: 100%;
}
.formDiv{
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    height: auto;
}
 .form-group
{
    width: 350px;
}

/*****footer*****/
.copyrights-content p{
    font-size: 0.65rem;
    font-weight: bold;
}
.section-divider{
    margin-top: 24px !important
}
 }
 @media (max-width:391px) {
 
    #section-services{
        height:80rem;
        width: 100%;
    }
    .contact-section {
        height: 180vh;
        width: 100%;
    }
    .addressDiv-content{
        width: 90%;
        margin-left: -7px;
    }
 }
 @media (max-width:376px) {
    .button-15 {
        height: 30px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 13px;
      }
      .navbar-brand{
        font-size: 1.4rem !important;
      }
    #section-services{
         max-height:75rem !important;
    }
    .contact-section {
        height: 120vh !important;
        width: 100%;
        padding: 0 15px !important;
    }
    .form-group
    {
        max-width: 220px;
    }
    .address {
        font-size: 0.9rem;
    }
    .formDiv{
        margin: 20px 10px 0 0 !important;
        min-height: 320px;
    }
    .addressDiv{
        margin: 10px 10px 0 0 !important;
        min-height: 320px;
    }
    .addressDiv-content{
      margin: 0 auto;
    }
 }
 @media (max-width:355px) {
    .button-15 {
        height: 30px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 13px;
      }
      .navbar-brand{
        font-size: 1.4rem !important;
      }
    #section-services{
         max-height:75rem !important;
    }
    .contact-section {
        height: 125vh !important;
        width: 100%;
        padding-left: 25px !important;
    }
    .form-group
    {
        max-width: 220px;
    }
    .address {
        font-size: 0.9rem;
    }
    .formDiv{
        margin: 20px 10px 0 0 !important;
        min-height: 320px;
    }
    .addressDiv{
        margin: 10px 10px 0 0 !important;
        min-height: 320px;
    }
    .addressDiv-content{
      margin: 0 auto;
    }
 }
 @media (max-width:320px) {
  
    .button-15 {
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
      }
      .navbar-brand{
        font-size: 1.1rem !important;
      }
    #section-services{
        min-height:80rem;
    }
    .contact-section {
        min-height: 120vh !important;
        width: 100%;
    }
    .form-group
    {
        max-width: 220px;
    }
    .address {
        font-size: 0.9rem;
    }
    .formDiv{
        margin: 20px 10px 0 0 !important;
        min-height: 320px;
    }
    .addressDiv{
        margin: 10px 10px 0 0 !important;
        min-height: 320px;
    }
    .addressDiv-content{
      margin: 0 auto;
    }
    .copyrights-content p{
        text-align: center;
        font-size: 0.65rem;
        font-weight: bold;
        padding: 0 5px;
    }
 }
